@import './landingpage.scss';

.ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
  padding: 8px;
}

.ant-table-measure-row {
  td {
    padding: 0px !important;
  }
}

.active-shop-modal {
  .ant-modal-body {
    height: 200px;
  }
}

.menu-container {
  background-color: #000;
  height: 100%;
  overflow: hidden !important;
  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);

  ul.ant-menu-root {
    background-color: #000;
    color: #fff;
  }

  li {
    padding-left: 30px;
    span {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .ant-menu-sub {
    background-color: #3d37ac;
    color: #fff;
  }
  
  a {
    color:#fff;;
  }

  .ant-menu-item-group {
    color: #fff;
  }

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 0;
  }

  .ant-menu-dark .ant-menu-item-selected,
  .ant-menu-dark .ant-menu-submenu-selected:not(.ant-menu-item-selected-change-locale) {
    background: #3d37ac;
    border-radius: 0px 2px 2px 0px;
    .span {
      font-size: 25px;
    }
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #3d37ac;
    border-radius: 0px 2px 2px 0px;
  }

  .ant-menu-dark .ant-menu-sub {
    background: #3d37ac;
    border-radius: 0px 2px 2px 0px;
  }
}

.content-container {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 2px var(rgba(0,0,0,0.2));

  .tools-container {
    padding: 10px;
  }
}

.ant-tag {
  padding: 2px 14px;
  border-radius: 4px;
}

.ant-table-body {
  min-height: calc(100vh - 250px);
}

.ant-table-pagination.ant-pagination {
  margin: 16px !important;
}